:root {
  --theme-color: #f7e018;
  --theme-highlight: #ca18f7;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif Pro", serif;
}

a {
  text-decoration: none;
}

button {
  min-height: 1.5rem;
  padding: 0.5rem 1rem;
}

body {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

.row:nth-child(n + 1) {
  padding: 1rem 1rem 0 1rem;
}

.hero {
  display: grid;
  place-items: center;
  background-color: var(--theme-color);
  height: 50vh;
}

.hero header {
  text-align: center;
}

.hero h1 {
  font-size: 8rem;
}

.hero h2 {
  font-size: 2rem;
}

.hero small {
  font-size: 0.75rem;
}

.hero div[data-netlify-identity-button] a {
  background-color: var(--theme-highlight);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1rem;
}

.card {
  display: grid;
  grid-template-areas:
    "image header"
    "image schedule"
    "image content";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  grid-gap: 1rem;
}

.card img {
  grid-area: image;
  width: 300px;
}

.card header {
  grid-area: header;
}

.card .rsvps {
  grid-area: schedule;
}

.rsvps button {
  background-color: var(--theme-highlight);
  color: white;
  border-radius: 0.25rem;
  margin-right: 1rem;
}

.card .content {
  grid-area: content;
}

.hidden {
  display: none;
}
